/* Hiệu ứng underline khi hover */
.nav-link {
  position: relative;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #00ddeb !important;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #00ddeb;
  bottom: 0;
  left: 0;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

/* Nút LOGIN */
.btn-outline-light:hover {
  background-color: white !important;
  color: #1a2a44 !important;
}
