/* Hiệu ứng underline khi hover */
.nav-link {
  position: relative;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #ef7920 !important;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #ef7920;
  bottom: 0;
  left: 0;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

/* Nút LOGIN */
.btn-outline-light:hover {
  background-color: #EF7920 !important;
  color: #fff !important;
}

/* Logo image styling */
.header-logo {
  height: 70px;
  border-radius: 12px; /* Bo tròn góc */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Đổ bóng */
  transition: transform 0.3s ease;
}

.header-logo:hover {
  transform: scale(1.05); /* Zoom nhẹ khi hover */
}