.change-password-container input {
    color: #000 !important;
    background-color: #fff !important;
    border: 1px solid #ced4da;
    border-radius: 4px;
  }
  
  .change-password-container input::placeholder {
    color: #888 !important;
  }
  
  .change-password-container h3 {
    color: #333;
  }

input[type="checkbox"].form-check-input {
    appearance: checkbox !important;
    -webkit-appearance: checkbox !important;
    width: 16px;
    height: 16px;
    accent-color: #0d6efd; /* Màu xanh Bootstrap */
    border: 1px solid #ccc;
    cursor: pointer;
  }  